body{

font-family:Arial;
margin:0;
background:#0f172a;
color:white;

}

header{

background:#020617;
padding:20px;
text-align:center;

}

.ticker{

background:#16a34a;
padding:10px;
font-weight:bold;

}

.container{

display:flex;
justify-content:center;
gap:20px;
margin-top:40px;
flex-wrap:wrap;

}

.card{

background:#1e293b;
padding:25px;
border-radius:10px;
width:320px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,0.5);

}

img{

width:240px;
margin:10px 0;

}

input{

width:100%;
padding:10px;
margin-top:10px;

}

button{

margin-top:10px;
width:100%;
padding:12px;
background:#22c55e;
border:none;
border-radius:6px;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#16a34a;

}

.account{

font-size:14px;
opacity:0.8;

}

footer{

margin-top:60px;
background:#020617;
text-align:center;
padding:20px;

}
